body{
	background-color: #898686;
}
.carousel-item{
	height:600px !important;
}
.d-block{
		height:750px !important;
}	
.alma{
		height:600px !important;
}	
.répa{
	color:#00CCCC;
}	
h1{
	color: #00CCCC;
	text-align: center;	
	margin-top: 30px;
}
h2{
	color: #00CCCC;
	text-align: center;	
}	
button{
	background-color: #00CCCC;
}
